# dependencies
node_modules/
.pnp
.pnp.*

# build output
dist/
.astro/
.cache/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment
.env
.env.local
.env.*.local

# editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# OS
Thumbs.db

# pagefind
public/pagefind/
.vercel
